body {
    /*background: url('../images/background.png'), -webkit-gradient(radial, 50% 30%, 150, 50% 30%, 400, from(#c9cbe8), to(#abadcc));*/
    background: url('../images/background.png'), -webkit-gradient(radial, 50% 30%, 150, 50% 30%, 400, from(#c9cbe8), to(#abadcc));
    font-family: "Comic Sans MS";
    font-size: 14pt;
    color:#675c9e;
}

em {
    color: #e774a9;
    font-style: normal;
}

.descr {
    background: url('../images/descr.png');
}

p, ul {
    margin: 30px 30px 25px 30px;
}

