body {
    background: url('../images/background.png');
    font-family: Comic Sans MS, Noteworthy;
    font-size: 14pt;
    color:#675c9e;
}

* {
    position: relative;
    border: 0px;
}

.container {
    width: 1010px;
    min-width: 1010px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 684px;
    overflow: visible;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, 350 350, 0, 350 350, 310, color-stop(0%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-radial-gradient(350 350, ellipse cover, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%); /* W3C */
}

.left_column {
    float: left;
    width: 460px;
}

.right_column {
    float: right;
    width: 485px;
    margin-right: 30px;
}

.logo {
    float: left;
    margin-top: 60px;
}

.socialmedia_button {
    float: left;
    margin-right: -10px;
}

.facebook_button {
    background: url('../images/facebook.png');
    display: block;
    width: 93px;
    height: 93px;
}

.facebook_button:hover {
    background: url('../images/facebook_hover.png');
    display: block;
}

.vkontakte_button {
    background: url('../images/vkontakte.png');
    display: block;
    width: 93px;
    height: 93px;
}

.vkontakte_button:hover {
    background: url('../images/vkontakte_hover.png');
}

.twitter_button {
    background: url('../images/twitter.png');
    display: block;
    width: 93px;
    height: 93px;
}

.twitter_button:hover {
    background: url('../images/twitter_hover.png');
}

.classmates_button {
    background: url('../images/classmates.png');
    display: block;
    width: 93px;
    height: 93px;
}

.classmates_button:hover {
    background: url('../images/classmates_hover.png');
}

.livejournal_button {
    background: url('../images/livejournal.png');
    display: block;
    width: 93px;
    height: 93px;
}

.livejournal_button:hover {
    background: url('../images/livejournal_hover.png');
}

p {
    margin: 0px;
}

a {
    text-decoration: underline;
    color:#675c9e;
}

em {
    color: #e774a9;
    font-style: normal;
}

em.book {
    color: #36b9ed;
}

.title {
    margin-bottom: -15px;
}

.descr {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.7)));/* Chrome,Safari4+ */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 100%); /* W3C */
    border-radius: 60px 60px 60px 60px;
    padding: 30px 30px 30px 30px;
    text-shadow: 0 0 5px white;
}

.flower {
    float: right;
    margin-top: -50px;
    margin-right: -30px;
}

.download_button {
    float: right;
    margin-top: -30px;
    margin-right: 60px;
}

.appstore_button {
    background: url('../images/appstore.png');
    display: block;
    width: 210px;
    height: 99px;
}

.appstore_button:hover {
    background: url('../images/appstore_hover.png');
}

.copyright {
    float: left;
    text-align: center;
    white-space:nowrap;
}

